.maincontainer{
    display: flex;
    /* margin: 20px; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
  flex-wrap: wrap;
}

.name{
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.image {
  border-radius: 100%;
  max-width: 200px;
}

.brief {
  max-width: 500px;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.about{
    color: var(--text-color); 
}

.icons {
  padding-top: 20px;
  display: flex;
  gap: 15px;
}

.icons a {
  color: var(--accent-color);
  font-size: 24px;
}

.icons a:hover {
  color: var(--hover-accent);
  transition: 0.3s;
}


@media (max-width: 786px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .brief {
    width: 400px;
    /* padding: 0 10px; */
  }

  .icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  

  .brief {
    width: 350px;
    /* padding: 0 10px; */
  }

  
}


@media (max-width: 400px) {
  

  .brief {
    width: 330px;
    /* padding: 0 10px; */
  }

  
}