.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .skillsheader {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    align-self: center;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .frontend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    width: 600px;
  }
  
  .frontend span {
    border: 2px solid var(--accent-color);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
  }
  
  .frontend span:hover {
    transform: scale(1.1);
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
  
  @media (max-width: 768px) {
    .skillsheader {
      align-self: flex-start;
    }

    .frontend{
        width: 100%;
    }
  }
  